{% extends "base.html" %}
{% block content %}

  
{% include "medicine/oncology/includes/nav.html" %}
  </div>
  <div class="card shadow-sm">
    <div class="card-body">
      <h5 class="card-title fw-bold text-primary">Patients List</h5>
      {% if patients %}
        <ul class="list-group">
          {% for patient in patients %}
            <li class="list-group-item">
              <strong>{{ patient.name }}</strong> (ID: {{ patient.patient_id }})
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No patients found.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}