Flask
Flask-Session
Flask-WTF
Flask-Login
Flask-Migrate
Flask-Mail
Flask-SocketIO
Flask-APScheduler
Flask-SQLAlchemy
redis
requests
python-dotenv
email_validator
scipy
scikit-learn
pandas
numpy
Pillow
python-dateutil
