<a href="{{ url_for('imaging.index') }}"><i class="bi bi-list-check me-2"></i> Requests</a>
<a href=""><i class="bi bi-list-check me-2"></i>inventory</a>
<a href="{{ url_for('imaging.imaging_results') }}"><i class="bi bi-boxes me-2"></i> results</a>
<a href=""><i class="bi bi-file-earmark-medical me-2"></i> Reports</a>
<a href=""><i class="bi bi-person-lines-fill me-2"></i> Patient Records</a>

<hr class="my-2">
<small class="text-muted px-2">DICOM PACS</small>
<a href="{{ url_for('imaging.dicom_upload_ui') }}"><i class="bi bi-cloud-upload me-2"></i> Upload DICOM</a>
<a href="{{ url_for('imaging.dicom_studies_search_ui') }}"><i class="bi bi-images me-2"></i> Browse Studies</a>