<a href="{{ url_for('laboratory.index') }}"><i class="bi bi-list-check me-2"></i> Requests</a>
<a href="{{ url_for('laboratory.lab_tests') }}"><i class="bi bi-clipboard-data me-2"></i> Lab Tests</a>
<a href="{{ url_for('laboratory.reagents_order') }}"><i class="bi bi-cart-plus me-2"></i> Order for Reagents</a>
<a href="{{ url_for('laboratory.index') }}"><i class="bi bi-hourglass-split me-2"></i> Pending Results</a>
<a href="{{ url_for('laboratory.processed_lab_results') }}"><i class="bi bi-check2-circle me-2"></i> Processed Results</a>
<a href="{{ url_for('laboratory.lab_reagent_inventory') }}"><i class="bi bi-box-seam me-2"></i> Reagent Inventory</a>
<a href=""><i class="bi bi-file-earmark-text me-2"></i> Generate Reports</a>
<a href="{{ url_for('laboratory.search_patient') }}"><i class="bi bi-person-lines-fill me-2"></i> Patient Lab History</a>
<a href=""><i class="bi bi-people me-2"></i> Manage Lab Staff</a>
<a href="{{ url_for('laboratory.abnormal_results') }}"><i class="bi bi-exclamation-triangle me-2"></i> Abnormal Results</a>
<a href="{{ url_for('laboratory.dashboard') }}"><i class="bi bi-bar-chart-line me-2"></i> Lab Dashboard</a>