<a href="{{ url_for('medicine.index') }}"><i class="bi bi-hourglass-split me-2"></i> Waiting List</a>
<a href="{{ url_for('medicine.ward_rounds') }}"><i class="bi bi-hospital me-2"></i> Inpatients</a>
<a href="{{ url_for('pharmacy.patient_history') }}"><i class="bi bi-clock-history me-2"></i> Patient History</a>
<a href="{{ url_for('medicine.admit_patient') }}"><i class="bi bi-door-open me-2"></i> admit patient</a>
<a href=""><i class="bi bi-door-open me-2"></i> Discharge Patient</a>
<a href="{{ url_for('medicine.lab_patients') }}"><i class="bi bi-activity me-2"></i> Patients from Lab</a>
<a href="{{ url_for('medicine.pending_lab_patients') }}"><i class="bi bi-file-earmark-text me-2"></i> Pending Lab Results</a>
<a href="{{ url_for('medicine.get_theatre_list') }}"><i class="bi bi-clipboard2-pulse me-2"></i> Theatre List</a>
<a href=""><i class="bi bi-exclamation-triangle-fill me-2"></i> Emergency</a>
<a href="{{ url_for('medicine.list_diseases') }}"><i class="bi bi-virus me-2"></i> Diseases Ref</a>
<a href="{{ url_for('medicine.drugs_ref') }}"><i class="bi bi-capsule me-2"></i> Drugs Ref</a>
<a href="{{ url_for('medicine.oncology') }}"><i class="bi bi-droplet me-2"></i> Oncology</a>