<a href="{{ url_for('pharmacy.index') }}"><i class="bi bi-hourglass-split me-2"></i> Waiting List</a>
<a href="{{ url_for('pharmacy.inventory') }}"><i class="bi bi-boxes me-2"></i> Inventory</a>
<a href="{{ url_for('pharmacy.drug_requests') }}"><i class="bi bi-truck me-2"></i> Request for Drugs</a>
<a href="{{ url_for('pharmacy.pending_requests') }}"><i class="bi bi-hourglass-split me-2"></i> Pending Requests</a>
<a href="{{ url_for('pharmacy.served_requests') }}"><i class="bi bi-check-circle me-2"></i> Served Requests</a>
<a href="{{ url_for('pharmacy.patient_history') }}"><i class="bi bi-clock-history me-2"></i> Patient History</a>
<a href=""><i class="bi bi-bar-chart-line me-2"></i> Consumption Report</a>
<a href="{{ url_for('pharmacy.low_stock') }}"><i class="bi bi-exclamation-triangle me-2"></i> Low Running Stocks</a>
<a href="{{ url_for('pharmacy.expiries') }}"><i class="bi bi-calendar-x me-2"></i> Expiries</a>
<a href="{{ url_for('pharmacy.analytics') }}"><i class="bi bi-graph-up me-2"></i> Analytics Dashboard</a>