{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h1>Payroll Dashboard</h1>
    <div class="table-responsive">
        <table class="table table-dark table-striped table-hover">
            <thead>
                <tr>
                    <th>Employee</th>
                    <th>Month</th>
                    <th>Gross Pay</th>
                    <th>Total Deductions</th>
                    <th>Net Pay</th>
                </tr>
            </thead>
            <tbody>
                {% for payroll in payrolls %}
                <tr>
                    <td>{{ payroll.employee.name }}</td>
                    <td>{{ payroll.month }}</td>
                    <td>{{ payroll.gross_pay }}</td>
                    <td>{{ payroll.total_deductions }}</td>
                    <td>{{ payroll.net_pay }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}